[submodule "lib/imgui_juce"]
	path = lib/imgui_juce
	url = https://github.com/Krasjet/imgui_juce.git
[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/ImGui"]
	path = lib/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "lib/SArc"]
	path = lib/SArc
	url = https://github.com/YSYourSoftware/SArc.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "factory/binary/lib/imgui-knobs"]
	path = lib/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
[submodule "lib/imgui_club"]
	path = lib/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "factory/release/samples"]
	path = factory/release/samples
	url = https://git.yoursoftware.org/YourSoftware/YourSound-FactoryLibrarySamples.git
[submodule "lib/ImGuiColorTextEdit"]
	path = lib/ImGuiColorTextEdit
	url = https://github.com/goossens/ImGuiColorTextEdit.git
	branch = future
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "lib/rtmidi"]
	path = lib/rtmidi
	url = https://github.com/thestk/rtmidi.git
